body {
    text-align: center;
    /* background-image: url(image.jpg); */
    background-color: rgb(243, 192, 53);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position-y: -50px;
    /* background-position-x: 400px;*/
    font-size: large;
    overflow: hidden;
}

button {
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 50px;
    margin-left: 50px;
    border-radius: 5px;
    font-size: x-large;
}

#save-btn {
    background: darkgreen;
    margin-right: 10px;
}

#input-txt {
    background: rgb(228, 248, 228);
    font-family: monospace;
    padding-left: 20px;
    font-size: 20px;
    height: 40px;
    width: 450px;
    margin-bottom: 10px;
    margin-left: 50px;
}

#clear-btn {
    background-color: darkred;
}

h2 {
    color: rgb(12, 4, 4);
    /* padding-top: 10px; */
    padding-left: 30px;
}

ul {
    /* list-style: ; */
    margin-top: 20px;
    padding-left: 20px;
    text-align: left;
}

li {
    margin-top: 5px;
}

a {
    color: blue;
}

#save-tab-btn {
    background: blue;
}